.ac-notice {
  display: none;
}

.acf-relationship .list {
  height: 400px !important;
}

.editor .acf_flm_add_layout_section,
.editor .menu-icon-af_form,
.editor .toplevel_page_acf-options,
.editor .acf-flm,
.editor .menu-icon-tools,
.editor .update-nag,
.editor.post-type-post a[data-layout="heading"],
.editor.post-type-post a[data-layout="banner"],
.editor.post-type-post a[data-layout="list"],
.editor.post-type-post a[data-layout="areas_of_practice"],
.editor.post-type-post a[data-layout="buttons"],
.editor.post-type-post a[data-layout="testimonials"],
.editor.post-type-post a[data-layout="testimonials"],
.editor.post-type-post a[data-layout="contact"],
.editor.post-type-post a[data-layout="call_to_action"]

{
  display: none !important;
}
