@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  overflow-x: hidden;
}

p {
  font-family: theme('fontFamily.serif');
  line-height: theme('lineHeight.loose');
  font-size: theme('fontSize.base');
}

strong {
  font-style: uppercase;
  font-size: theme('fontSize.compressed');
  font-family: theme('fontFamily.wide');
  letter-spacing: theme('letterSpacing.wider');
  text-transform: uppercase;
}

.nav-wrap {
  width: 352px;
  margin-left: -21px;
}

@media (max-width: 1290px) {
  .nav-wrap {
    width: 275px;
  }
}

@media (min-width: 1550px) {
  .nav-wrap {
    width: 100%;
    max-width: 360px;
    margin-left: -20px;
  }
}

html {
  transition: all 200ms ease-in-out;
}

footer .footer {
  height: auto;
}

footer .brand {
  margin-top: -40px;
}

.heading .logo {
  width: 175px;
}

.primary-navigation {
  height: 85px;
  z-index: 100;
}

.slick-dots li button::before {
  font-size: 12px;
}

@media (max-width: 888px) {
  .heading .logo {
    width: 115px;
  }

  .primary-navigation {
    height: 64px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 2048px !important;
}

.heading-branded-text {
  font-size: 2.48rem;
  width: 100%;
  max-width: 451px;
}

@media (max-width: 767px) {
  .heading-branded-text {
    font-size: 1.8rem;
    width: 100%;
    max-width: 451px;
  }
}

.dropdown-menu.container {
  top: 85px;
  right: 0;
  width: 100%;
  border-left-color: white;
  border-right-color: white;
  border-left-width: 20px;
  border-right-width: 20px;
}

.logged-in .dropdown-menu.container {
  top: 117px;
}

.container-sm {
  width: 100%;
  max-width: 1200px !important;
}

@media (min-width: 889px) {
  .container-sm {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 888px) {
  .container-sm {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* .head-col { */
/*   margin-left: auto; */
/*   margin-right: auto; */
/* } */

.menu-guide {
  left: 0;
  top: 0;
  padding-top: 1.5vw;
  margin-top: 2.5vw;
  visibility: hidden;
}

hr.line {
  left: 0;
  text-align: left;
  width: 100%;
  margin-right: 30vw;
  border-width: 1px;
  border-style: solid;
}

.menu-link a:hover {
  color: #a45a2a;
}

/* .sub-menu-enabled:hover { */
/*   padding-bottom: 20px; */
/*   border-bottom: 40px solid #a45a2a; */
/* } */

/* .sub-menu-enabled:hover { */
/*   color: #a45a2a !important; */
/*   padding-bottom: 20px; */
/*   border-bottom: 40px solid #a45a2a; */
/* } */

.sub-menu-enabled {
  transition: 200 all ease-in-out;
  padding-bottom: 0;
  border-bottom: 0 solid transparent;
}
.sub-menu-enabled:hover {
  color: #a45a2a !important;
  padding-bottom: 20px;
  border-bottom: 30px solid #a45a2a;
}

.sub-menu-style {
  color: #a45a2a !important;
  padding-bottom: 20px !important;
  border-bottom: 30px solid #a45a2a !important;
}

.dropdown-menu:hover {
  display: flex !important;
}

/* .dropdown-menu { */
/*   visibility: hidden; */
/* } */

/* .dropdown-menu:hover { */
/*   visibility: visible !important; */
/* } */

/* .dropdown-menu:hover ~ .sub-menu-enabled { */
/*   color: #a45a2a !important; */
/*   padding-bottom: 20px; */
/*   border-bottom: 40px solid #a45a2a; */
/* } */

/* .menu-link:hover + .dropdown-menu { */
/*   visibility: visible !important; */
/* } */
.heading {
  height: 80vh;
  min-height: 700px;
}

@media (min-width: 889px) {
  .primary .menu-link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.attorney .heading {
  height: 100%;
}

.profile {
  height: auto !important;
}

.attorney-heading {
  height: 500px !important;
  min-height: 300px !important;
}

.attorney-heading-content {
  height: 100% !important;
  min-height: 100% !important;
}

.side-wrap {
  height: auto !important; 
}

.banner img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 150px;
}

.button-wrap > div {
  min-height: 250px;
}

.button-wrap:first-child {
  margin-right: 20px;
}

.button-wrap:last-child {
  margin-left: 20px;
}

.see-through-image {
  width: 100%;
  max-width: 400px;
  margin-top: -18px;
  opacity: 0.1;
}

.small-text {
  font-size: 11px !important;
}

.profile div.flex,
.profile img {
  max-width: 220px;
}

.profile {
  position: absolute;
  top: 43px;
  right: -10vw;
}

.the-content > *  {
 margin-top: 1rem;
 margin-bottom: 1rem;
}

.content-thing {
  border-left: 25px solid white;
}

.attorney-item {
  width: auto;
  height: auto;
}

@media (min-width: 1024px) {
  .attorney-item {
    max-width: 290px;
  }
}

@media (min-width: 889px) {
  .attorney-item {
    max-width: 220px;
  }
}

@media (max-width: 888px) {
  .attorney-item {
    max-width: 50%;
  }
}

@media (max-width: 640px) {
  .attorney-item {
    max-width: 100%;
  }
}

.accordion-item {
  /* min-height: 50px; */
}
