/* import tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  overflow-x: hidden;
}

.nav-wrap {
  width: 352px;
  margin-left: -21px;
}

@media (max-width: 1290px) {
  .nav-wrap {
    width: 275px;
  }
}

@media (min-width: 1550px) {
  .nav-wrap {
    width: 100%;
    max-width: 360px;
    margin-left: -20px;
  }
}

html {
  transition: all 200ms ease-in-out;
}

footer .footer {
  height: auto;
}

.heading .logo {
  width: 175px;
}

.primary-navigation {
  height: 85px;
  z-index: 100;
}

@media (max-width: 888px) {
  .heading .logo {
    width: 115px;
  }
  .primary-navigation {
    height: 64px;
  }

  .dropdown-menu.container {
    top: 64px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 2048px !important;
}

.heading-branded-text {
  font-size: 2.48rem;
  width: 100%;
  max-width: 451px;
}

@media (max-width: 767px) {
  .heading-branded-text {
    font-size: 1.8rem;
    width: 100%;
    max-width: 451px;
  }
}

.dropdown-menu.container {
  top: 85px;
  right: 0;
  width: 100%;
  border-left-color: white;
  border-right-color: white;
  border-left-width: 20px;
  border-right-width: 20px;
}
br {
  
}

.container-sm {
  width: 100%;
  max-width: 1200px !important;
}

@media (max-width: 1024px) {
  .container-sm {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

/* .head-col { */
/*   margin-left: auto; */
/*   margin-right: auto; */
/* } */

.menu-guide {
  left: 0;
  top: 0;
  padding-top: 1.5vw;
  margin-top: 2.5vw;
  visibility: hidden;
}

hr.line {
  left: 0;
  text-align: left;
  width: 100%;
  margin-right: 30vw;
  border-width: 1px;
  border-style: solid;
}

.menu-link:hover a {
  color: #a45a2a;
}

.menu-link.areas-of-practice:hover a,
.menu-link.our-attorneys:hover a {
  padding-bottom: 20px;
  border-bottom: 40px solid #a45a2a;
}

.dropdown-menu {
  visibility: hidden;
}

.dropdown-menu:hover {
  visibility: visible !important;
}

.menu-link:hover + .dropdown-menu {
  visibility: visible !important;
}

/* .drop-down:hover ~ .menu-link { */
/*   color: #a45a2a; */
/*   padding-bottom: 10px; */
/*   border-bottom: 40px solid #a45a2a; */
/* } */

/* .drop-down:hover ~ .menu-link.our-attorneys { */
/*   padding-bottom: 20px; */
/*   border-bottom: 0 solid transparent; */
/* } */

/* .drop-down:hover ~ .menu-link.areas-of-practice { */
/*   padding-bottom: 0; */
/*   border-bottom: 0 solid transparent; */
/* } */

/* .dropdown-menu > hr { */
/*   margin-right: 55px; */
/* } */

/* .heading-branded-text { */
/*   width: 100%; */
/*   max-width: 560px; */
/*   text-align: left; */
/* } */

/* .menu-link:hover .menu-guide { */
/*   visibility: visible; */
/* } */

/* .menu-link:hover > a + .dropdown-menu { */
/*   visibility: visible !important; */
/* } */

/* .dropdown-menu:hover { */
/*   visibility: visible; */
/* } */

/* .primary-navigation .dropdown-menu:hover { */
/*   visibility: visible !important; */
/* } */

.heading {
  height: 80vh;
  min-height: 700px;
}

@media (min-width: 889px) {
  .primary .menu-link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* @media (max-width: 1440px) { */
/*   .heading { */
/*     /1* height: 80vh; *1/ */
/*   } */
/* } */

.banner img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 150px;
}
