[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true

[remote "origin"]
	url = git@github.com:cwahlfeldt/waffleiron.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
	remote = origin
	merge = refs/heads/master

[remote "wordpress"]
	url = git@github.com:pantheon-systems/example-wordpress-composer.git
	fetch = +refs/heads/*:refs/remotes/wordpress/*

[remote "iron-tm"]
	url = ssh://codeserver.dev.7836f8c1-01d0-4b59-8c57-6b71d4fca2c2@codeserver.dev.7836f8c1-01d0-4b59-8c57-6b71d4fca2c2.drush.in:2222/~/repository.git
	fetch = +refs/heads/*:refs/remotes/iron-tm/*

[remote "b2"]
	url = ssh://codeserver.dev.7361b38c-e1dc-46f7-8945-e65cca0fdad3@codeserver.dev.7361b38c-e1dc-46f7-8945-e65cca0fdad3.drush.in:2222/~/repository.git
	fetch = +refs/heads/*:refs/remotes/b2/*


