/* stylelint-disable */

.home-header .grid {
  height: 100%;
  min-height: 950px;

  grid-template-rows: auto;
  grid-template-areas:
    "item1 item1 item2 item4"
    "item1 item1 item3 item4"

    "item5 item5 item6 item8"
    "item5 item5 item7 item8";

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @media (max-width: config('screens.lg')) {
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "item7 item8";
  }

  @media (max-width: config('screens.sm')) {
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8";
  }
}

.grid-item {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    padding-top: (9 / 16) * 100%;

    @media (max-width: config('screens.lg')) {
      padding-top: 100%;
      max-height: 200px;
    }
  }

  > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

$slide1: 195px;
$slide2: 400px;
$slide3: 240px;

.grid-item [class*="overlay-"] {
  transition: all $anim-time ease-in-out;
  border: 0px solid transparent;
}

.grid-item:hover .overlay-1 {
  border: 7px solid config('colors.orange');
}

.grid-item:hover .overlay-2 {
  border: 10px solid config('colors.yellow');
}

.grid-item:hover .overlay-3 {
  border: 10px solid config('colors.green');
}

[class*="call-to-action-slide-"] {
  height: 0;
  padding-bottom: $slide2;
  width: $slide2;
  color: config('colors.orange');

  > div * {
    padding-left: 40px;
    padding-right: 40px;
    width: $slide2;
  }
}

.call-to-action-slide-1 {
  padding-bottom: $slide1;
  width: $slide1;
  color: config('colors.green');

  > div * {
    padding-left: 30px;
    padding-right: 30px;
    width: $slide1;
  }
}

.call-to-action-slide-3 {
  padding-bottom: $slide3;
  width: $slide3;
  color: config('colors.yellow');

  > div * {
    padding-left: 50px;
    padding-right: 50px;
    width: $slide3;
  }
}

@media (max-width: config('screens.lg')) {
  .call-to-action-slide-1 {
    padding-bottom: $slide3;
    width: $slide3;
  }

  .call-to-action-slide-2 {
    padding-bottom: $slide3;
    width: $slide3;
  }

  .call-to-action-slide-3 {
    padding-bottom: $slide3;
    width: $slide3;
  }
}

.extra-info {
  transition: all $anim-time ease-in-out;
  visibility: hidden;
  height: 0;
  opacity: 0;
}

.call-to-action-slide-2:hover .extra-info {
  visibility: visible;
  height: 35%;
  opacity: 1;

  @media (max-width: config('screens.lg')) {
    display: none;
  }
}

.home-header-wrap {
  height: calc(100vh - #{$nav-height});

  @media screen and (max-width: config('screens.md')) {
    height: 100%;
  }
}

.entire-menu {
  background-blend-mode: multiply;
}

.classics-to-go .bg-green,
.event-menus .bg-yellow {
  > div {
    transition: all $anim-time ease-in-out;
  }

  > div:hover {
    width: 100%;
    height: 100%;
  }
}

.classics-to-go .bg-green {
  background-color: rgba(56, 75, 0, 0.88);

  &:hover {
    background-color: rgb(56, 75, 0);
  }
}

.event-menus .bg-yellow {
  background-color: rgba(253, 185, 39, 0.88);

  &:hover {
    background-color: rgb(253, 185, 39);
  }
}

.entire-menu-link {
  transition: all $anim-time ease-in-out;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 300px;
  //padding-top: 2rem;
  //margin: 2rem;

  p {
    width: 100%;
    max-width: 525px;
  }

  &:hover {
    background-color: rgba(#ce6e19, 0.85);
  }
}

.top,
.bottom {
  > div {
    height: 100%;
    min-height: 265px;
  }
}
