.text-content:last-of-type {
  @apply pb-32;
}

.text-content {
  .text p {
    @apply my-3;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .image img {
    width: 363px !important;
    max-width: 100vw !important;
  }
}
