/* stylelint-disable */

.show-all {
  h4 {
    width: 230px;
    height: 230px;
    padding: 4rem;
    transition: all 200ms ease-in-out;
    background-color: transparent;
  }

  &:hover {
    h4 {
      background-color: config('colors.yellow');
    }
  }
}

.menu-link-item div h4,
.menu-link-item div h3 {
  background-color: transparent;
}

.menu-link-item div:hover h4,
.menu-link-item div:hover h3 {
  background-color: config('colors.yellow');
}

.menu-link-item div {
  height: 300px;
  background-color: config('colors.yellow');
  background-blend-mode: multiply;
  transition: all $anim-time ease-in-out;
  box-shadow: inset 0 0 0 0 config('colors.yellow');

  h3, h4 {
    transition: all 200ms ease-in-out;
    background-color: transparent;
  }

  &:hover {
    background-blend-mode: normal;
    box-shadow: inset 0 0 0 10px config('colors.yellow');
    h3, h4 {
      background-color: config('colors.yellow');
    }
  }
}
