.bg-img {
  transition: all $anim-time ease-in-out;
  background-repeat: no-repeat;
  background-position: cover;
  background-color: config('colors.orange');
  background-blend-mode: multiply;
  opacity: 0;
}

.menu-link {
  transition: all $anim-time ease-in-out;
  background-color: transparent;

  > h4,
  > h2 {
    transition: all $anim-time ease-in-out;
  }

  &:hover {
    background-color: config('colors.orange');

    > h4,
    > h2 {
      color: white;
    }

    > .bg-img {
      opacity: 0.5;
    }
  }
}

.single-menu > .absolute {
  height: 100px;
  top: 135px;
  left: 15px;
}

$descriptor-size: 33px;
$inline-size: 23px;

.descriptor > h2 {
  height: $descriptor-size;
  width: $descriptor-size;
  line-height: $descriptor-size;
}

.inline-descriptor .descriptor > h2 {
  height: $inline-size;
  width: $inline-size;
  line-height: $inline-size;
  font-size: 13px !important;
}

.meal > h2 {
  margin-top: 70px;
}

.meal:first-child > h2 {
  margin-top: 0;
}
