$min-height: 420px;

.swiper-slide > div {
  height: $min-height;

  @media screen and (max-width: config('screens.md')) {
    height: 100%;
  }
}

.slide-top {
  background-position: left;
}

.slide-bottom {
  background-position: right;
}

.slide-top,
.slide-bottom {
  background-size: 83% auto;

  @media screen and (max-width: config('screens.md')) {
    background-size: 100%;
    background-position: center;
  }
}

.slide-mobile {
  width: 100%;
  height: 100%;

  &:nth-child(even) {
    .quote {
      background-color: rgba(56, 75, 0, 0.8);
    } 
  }

  &:nth-child(odd) {
    .quote {
      background-color: rgba(206, 110, 25, 0.8);
    }
  }
}

.quote {
  width: 100%;
  max-width: 20%;
  height: 100%;
  min-height: $min-height;

  @media screen and (max-width: config('screens.md')) {
    max-width: 100%;
    max-height: 300px;
  }
}

.testimonial-carousel {
  margin-bottom: -1px;
}

