body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  overflow-x: hidden;
}

html { scroll-behavior: smooth; }

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .mb-2 .leading-tight;
}

p {
  @apply .mb-3 .leading-normal;
}

a {
  @apply .text-primary .no-underline .border-b .border-transparent;

  transition: 0.2s ease;

  &:hover {
    text-decoration: none;
  }
}

button {
  transition: all $anim-time ease-in-out;
}

.wrap {
  padding-top: $nav-height;

  @media (max-width: config('screens.sm')) {
    padding-top: 80px;
    overflow-x: hidden;
  }
}

.logged-in .wrap {
  padding-top: 72px;
}

.container {
  width: 100%;
  max-width: config('screens.xl');
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  width: 100%;
  max-width: config('screens.lg');
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.container-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 50%;
  z-index: -1;
}

.container-left-comp {
  position: absolute;
  width: 816px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}

.container-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 50%;
  z-index: -1;
}

.container-right-comp {
  position: absolute;
  width: 1140px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23ffffff%27%2F%3E%3C%2Fsvg%3E");
  margin-left: 25px;

  @media screen and (max-width: config("screens.md")) {
    margin-left: 6px;
  }
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2027%2044%27%3E%3Cpath%20d%3D%27M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z%27%20fill%3D%27%23ffffff%27%2F%3E%3C%2Fsvg%3E");
  margin-right: 25px;

  @media screen and (max-width: config("screens.md")) {
    margin-right: 6px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.swiper-pagination-bullet-active {
  background: config('colors.yellow');
}
