.modal {
  transition: all $anim-time ease-in-out;
  height: calc(100vh - #{$nav-height});

  @media (max-width: config('screens.sm')) {
    height: calc(100vh - 80px);
  }
}

body.modal-open {
  overflow: hidden;
}

.image-modal {
  height: calc(100vh - 19rem) !important;

  img {
    width: auto !important;
    height: 100% !important;
  }
}

.close-modal {
  margin-right: 35px;

  button {
    font-size: 2rem;
  }
}
