body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  overflow-x: hidden;
}

html { scroll-behavior: smooth; }

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .mb-2 .leading-tight;
}

*:focus {
  outline: none;
}

p {
  @apply .mb-3 .leading-normal;
}

a {
  @apply .text-primary .no-underline .border-b .border-transparent;

  transition: 0.2s ease;

  &:hover {
    text-decoration: none;
  }
}

.grayscale {
  filter: grayscale(100%) opacity(95%);
}

// div[id*="FILTER"]:before {
//   content: "";
//   display: block;
//   height: 180px;
//   margin-top: -120px;
// }

// div[id*="FILTER"]:first-child:before {
//   margin-top: -55px;
// }

$adjust: 40px;

div[id*="FILTER"]:before {
  content: "";
  display: inline-block;
  padding-top: 130px;
  margin-top: -105px;
}

button {
  transition: all $anim-time ease-in-out;
}

.wrap {
  padding-top: $nav-height;

  @media (max-width: config('screens.sm')) {
    padding-top: 80px;
    overflow-x: hidden;
  }
}

.logged-in .wrap {
  padding-top: 72px;
}

.container {
  width: 100%;
  max-width: config('screens.xl');
  margin-left: auto;
  margin-right: auto;
}

.container-sm {
  width: 100%;
  max-width: config('screens.lg');
  margin-left: auto;
  margin-right: auto;
}

.container-xs {
  width: 100%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.container-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 50%;
  z-index: -1;
}

.container-left-comp {
  position: absolute;
  width: 816px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}

.container-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 50%;
  z-index: -1;
}

.container-right-comp {
  position: absolute;
  width: 1140px;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.swiper-pagination-bullet-active {
  background: config('colors.yellow');
}

.order-0 {order: 0}
.order-1 {order: 1}
.order-2 {order: 2}

.h-screen {height: calc(100vh - #{ $nav-height })}

.fill-white {fill: white;}
.fill-grey {fill: config('colors.grey');}
.fill-green {fill: config('colors.green');}

.grecaptcha-badge {visibility: hidden; position: absolute;}

.fit-cover {
  object-fit: cover;
}

.shadow-green {
  box-shadow: 8px 8px 0 #384b00;
}

.animate {
  transition: all $anim-time ease-in-out;
}
