.modal {
  transition: all $anim-time ease-in-out;
  height: 100vh;
}

body.modal-open {
  overflow: hidden !important;
}

html.modal-open {
  overflow: hidden !important;
}

.image-modal {
  height: calc(100vh - 19rem) !important;

  img {
    width: auto;
    max-width: 1000px;
    max-height: 700px;
  }
}

.close-modal {
  margin-right: 35px;
  top: 100px;
  right: -15px;

  @media (max-width: config("screens.md")) {
    top: 75px;
  }

  button {
    font-size: 2rem;
  }
}
