button[data-controls] {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

$controls-margin: 18px;

button[data-controls="prev"] {
  left: 0;
  margin-left: $controls-margin;

  @media screen and (max-width: config("screens.md")) {
    display: none;
  }
}

button[data-controls="next"] {
  right: 0;
  margin-right: $controls-margin;

  @media screen and (max-width: config("screens.md")) {
    display: none;
  }
}

div[aria-label="Carousel Pagination"] {
  bottom: 0;
}

.tns-nav {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;

  button {
    background-color: config("colors.grey");
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 3px;
  }

  .tns-nav-active {
    background-color: transparent;
    border: solid 2px config("colors.grey");
  }
}
